<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Zomato Homepage</title>

  <!-- Bootstrap core CSS -->
 <!-- Bootstrap core CSS -->
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

 <!-- Custom styles for this template -->
 <link href="/stylesheets/home.css" rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a id="userName" class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="/users/home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li> -->
          <li class="nav-item">
            <a id="signoutBtn" class="nav-link" onclick="signoutUser"  href="/">SignOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Zomato</h1>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
        </div>

        <div id="restaurentList" class="row">

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="bg-dark" style="padding-top: 1rem!important; padding-bottom: 1rem!important;">
    <div class="container">
      <p class="m-0 text-center text-white"></p>
    </div>
    <!-- /.container -->
   <!-- BoldChat Live Chat Button HTML v5.00 (Type=Web,ChatButton=Test01 ,Website=My Website) -->
<div style="text-align: right; white-space: nowrap;">
    <script type="text/javascript">
      var bccbId = Math.random(); document.write(unescape('%3Cdiv id=' + bccbId + '%3E%3C/div%3E'));
      window._bcvma = window._bcvma || [];
      _bcvma.push(["setAccountID", "637355371700077209"]);
      _bcvma.push(["setParameter", "WebsiteID", "633249456295578667"]);
      _bcvma.push(["addStatic", {type: "chat", bdid: "633250117349697368", id: bccbId}]);
      var bcLoad = function(){
        if(window.bcLoaded) return; window.bcLoaded = true;
        var vms = document.createElement("script"); vms.type = "text/javascript"; vms.async = true;
        vms.src = ('https:'==document.location.protocol?'https://':'http://') + "vmss.boldchat.com/aid/637355371700077209/bc.vms4/vms.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vms, s);
      };
      if(window.pageViewer && pageViewer.load) pageViewer.load();
      else if(document.readyState=="complete") bcLoad();
      else if(window.addEventListener) window.addEventListener('load', bcLoad, false);
      else window.attachEvent('onload', bcLoad);
    </script>
     <span style="font-family: Arial; font-size: 8pt; color: black;"><a href="http://www.boldchat.com" style="text-decoration: none; color: black;">Live chat</a> by BoldChat</span>
    </div>
    <!-- /BoldChat Live Chat Button HTML v5.00 -->
    
       
  </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/javascripts/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/home.js"></script>
    <script>
        setTimeout(() => {
          let imgSrc = $('.bcStatic').find('img').attr('src');
                if(imgSrc == "http://images.boldchat.com/ext/images/buttons/chat/gallery/Button_Crimson_Shaded_1B.png"){
                  $('.bcStatic').css('pointer-events', 'none')
                }
        }, 2000);
      </script>

</body>

</html>
