<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/javascripts/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="/stylesheets/restaurant.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a id="userName" class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a id="signoutBtn" class="nav-link" onclick="signoutUser"  href="/">SignOut</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 id="shopName" class="my-4"></h1>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img id="1stImage" class="d-block img-fluid" onerror="this.src='http://placehold.it/900x350'" alt="First slide">
            </div>
          </div>
        </div>
        <div id="restaurentDetails" class="row"></div>
        <div class="card" id="review">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    <div class="well well-sm">
                    
                        <div class="row" id="post-review-box">
                            <div class="col-md-12">
                                <form class="reviewForm" action="javascript:getInput();" method="post">
                                    <textarea id="reviewContent"class="form-control" name="comment" placeholder="Enter your review here..." required></textarea>
                                    <div class="text-right" style="padding-top:1rem">
                                      <div>
                                        <div class="form-group" id="rating-ability-wrapper">
                                            <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                                            </label>
                                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                        <button id="submitbtn" class="btn btn-success btn-lg" type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> 
                     
                    </div>
                </div>
            </div>
        </div>
        <div id="reviewContainer" class="row">

        </div>
        
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="bg-dark" style="padding-top: 1rem!important; padding-bottom: 1rem!important;">
    <div class="container">
      <p class="m-0 text-center text-white"></p>
    </div>
    <!-- Setup for static chat window -->
    <!-- BoldChat Live Chat Button HTML v5.00 (Type=Web,ChatButton=Test01 ,Website=My Website) -->
    <div style="text-align: right; white-space: nowrap;">
    <script type="text/javascript">
      var bccbId = Math.random(); document.write(unescape('%3Cdiv id=' + bccbId + '%3E%3C/div%3E'));
      window._bcvma = window._bcvma || [];
      _bcvma.push(["setAccountID", "637355371700077209"]);
      _bcvma.push(["setParameter", "WebsiteID", "633249456295578667"]);
      _bcvma.push(["addStatic", {type: "chat", bdid: "633250117349697368", id: bccbId}]);
      var bcLoad = function(){
        if(window.bcLoaded) return; window.bcLoaded = true;
        var vms = document.createElement("script"); vms.type = "text/javascript"; vms.async = true;
        vms.src = ('https:'==document.location.protocol?'https://':'http://') + "vmss.boldchat.com/aid/637355371700077209/bc.vms4/vms.js";
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vms, s);
      };
      if(window.pageViewer && pageViewer.load) pageViewer.load();
      else if(document.readyState=="complete") bcLoad();
      else if(window.addEventListener) window.addEventListener('load', bcLoad, false);
      else window.attachEvent('onload', bcLoad);
    </script>
     <span style="font-family: Arial; font-size: 8pt; color: black;"><a href="http://www.boldchat.com" style="text-decoration: none; color: black;">Live chat</a> by BoldChat</span>
    </div>
    <!-- /BoldChat Live Chat Button HTML v5.00 -->
    <!-- Setup for Invitation Popup -->
    <!-- BoldChat Customer Monitor HTML v5.00 (Website=My Website,ChatButton=My Floating chat02,ChatInvitation=Test rule02) -->
<!-- <script type="text/javascript">
  window._bcvma = window._bcvma || [];
  _bcvma.push(["setAccountID", "637355371700077209"]);
  _bcvma.push(["setParameter", "WebsiteID", "633249456295578667"]);
  _bcvma.push(["setParameter", "InvitationID", "633259738946687026"]);
  _bcvma.push(["addFloat", {type: "chat", id: "633259737448599042"}]);
  _bcvma.push(["pageViewed"]);
  var bcLoad = function(){
    if(window.bcLoaded) return; window.bcLoaded = true;
    var vms = document.createElement("script"); vms.type = "text/javascript"; vms.async = true;
    vms.src = ('https:'==document.location.protocol?'https://':'http://') + "vmss.boldchat.com/aid/637355371700077209/bc.vms4/vms.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vms, s);
  };
  if(window.pageViewer && pageViewer.load) pageViewer.load();
  else if(document.readyState=="complete") bcLoad();
  else if(window.addEventListener) window.addEventListener('load', bcLoad, false);
  else window.attachEvent('onload', bcLoad);
</script>
<noscript>
<a href="http://www.boldchat.com" title="Live Support" target="_blank"><img alt="Live Support" src="https://vms.boldchat.com/aid/637355371700077209/bc.vmi?wdid=633249456295578667" border="0" width="1" height="1" /></a>
</noscript> -->
<!-- /BoldChat Customer Monitor HTML v5.00 -->

    
    
  <script src="/javascripts/jquery/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/javascripts/restaurant.js"></script>
  <!-- script for making the chat button non-clickable -->
  <script>
    setTimeout(() => {
      let imgSrc = $('.bcStatic').find('img').attr('src');
            if(imgSrc == "http://images.boldchat.com/ext/images/buttons/chat/gallery/Button_Crimson_Shaded_1B.png"){
              $('.bcStatic').css('pointer-events', 'none')
            }
    }, 2000);
  </script>
</footer>

</body>

</html>
